# Add go to PATH and configure GOROOT
export GO_VERSION=1.16.5
export GOROOT=$PWD/../backend/opt/go$GO_VERSION
export PATH=$GOROOT/bin:$PATH

# Configure GOPATH and add to PATH.
export GOPATH=$PWD
export PATH=$GOPATH/bin:$PATH

